main {
    flex-direction: row;  
    flex-wrap: wrap;  
}

iframe {
    width: 40vw;
    height: 30vw;
}

.about{
    flex: 1;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-right: 3vw;
    align-self: stretch;
}

.about > h2 {
    border-bottom: solid darkgray thin;
}
.birdOfTheDay{
    flex: 1;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-right: 3vw;
    align-self: stretch;
}
.birdOfTheDay h2 {
    border-bottom: solid darkgray thin;
}

audio{
    width: 30vw;
}

#birdImage {
    height:40vh;
    margin-bottom: 2vh;
}

@media (max-width: 755px) {
    main {
      flex-direction: column;
    }
    iframe{
        display:none;
    }
    .birdImage {
        height:30vh;
        margin-bottom: 2vh;
    }
  }

  @media (max-width: 820px) {
    audio{
        width: 70vw;
    }
  }